[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sklearn = "*"
numpy = "*"
scipy = "*"
nltk = "*"
qcrit = "==0.0.18"
tqdm = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
